.btn{
    padding: 10px 20px;
    border: 2px solid grey;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-active{
    background-color: aliceblue;
    border-color: red;
}
.btn-saved{
    background-color: green;
    color:white;
    border-color: darkgreen;
}