table,tr,th,td {
    border: solid 1px black;
}
thead{
    background-color: blueviolet;
    color:aliceblue
}
tbody tr:nth-child(even){
    background-color: yellow;
}
tbody tr:nth-child(odd){
    background-color: cyan;
}
tbody tr:hover{
    background-color: orange;
    font-style: italic;
}