<p>product-catalog works!</p>
<div *ngFor="let c of categories">
    <table border="1" width="100%">
        <tr>
            <td>Mã danh mục</td>
            <td>Tên danh mục</td>
        </tr>
        <tr>
            <td>{{c.Cateid}}</td>
            <td>{{c.CateName}}</td>
        </tr>
    </table>

    <table border="1" width="100%">
        <thead>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Giá sản phẩm</th>
            <th>Picture</th>
        </thead>
        <tbody>
            <tr *ngFor="let p of c.Products">
                <td>{{p.ProductId}}</td>
                <td>{{p.ProductName}}</td>
                <td>{{p.Price}}</td>
                <td>
                    <img [src]="p.Image" width="100" height="100">
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
</div>